<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="shared/style/headers.css">
    <link rel="stylesheet" type="text/css" href="shared/style_unstable/lists.css">
    <link rel="stylesheet" type="text/css" href="shared/style/buttons.css">
    <link rel="stylesheet" type="text/css" href="css/animations.css">

    <script type="text/javascript" src="js/lib/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="js/lib/underscore.js"></script>
    <script type="text/javascript" src="js/lib/backbone.js"></script>

    <script type="text/javascript" src="js/models/entry.js"></script>
		<script type="text/javascript" src="js/models/photoEntry.js"></script>
		<script type="text/javascript" src="js/models/locationEntry.js"></script>

		<script type="text/javascript" src="js/views/entryView.js"></script>
		<script type="text/javascript" src="js/views/appView.js"></script>		

    <script src="js/app.js"></script>
		<script type="text/javascript">
			$(function(){
        var entryList = new EntryList;
				var timeline = new AppView(entryList);
          var e = new Entry();
			    e.set('title', 'title');
			    e.set('body', 'body');
          entryList.add(e);

        $('#add-element').click(function(evt) {
          $('#application').addClass('newEntryAnimation');
          $('#application').removeClass('exitNewEntryAnimation');
          var e = new Entry();
			    e.set('title', 'title');
			    e.set('body', 'body');
          entryList.add(e);
        });

        $('#back-from-new-entry').click(function(evt) {
          $('#application').addClass('exitNewEntryAnimation');
          $('#application').removeClass('newEntryAnimation');
        });
			});
		</script>

    <title></title>
  </head>
  <body>
    <div id="application"> 
      <div id='timeline'>
        <section role="region">
          <header>
            <menu type="toolbar">
                <a href="#" id="add-element"><span class="icon icon-add">add</span></a>
            </menu>
            <h1>Activities</h1>
          </header>
        </section>
        <section data-type="list" id="entry-list">
          <header>Today</header>
            <ul>
            </ul>
          </header>
        </section>
      </div>
      <div id='new-entry-type'> <!-- Add new activity -->
        <section role="region">
          <header>
            <button id="back-from-new-entry"><span class="icon icon-back">back</span></button>
            <menu type="toolbar">
            </menu>
            <h1>Select Type</h1>
          </header>
        </section>
      </div>
    </div>
    <script id="entry-template" type="text/template">	
      <div>
        <p><%= title %></p>
        <p><%= body %></p>
      </div>
    </script>
  </body>
</html>
